#four{
  background-image: url('./images/404-Not-Found.jpg');
  background-position: 100%;
  background-position:center;
  height: 80%;
  width: 100%;
}
.test{
  text-decoration: underline;
  color: red;
}
button.sign{
  display: none;
}
.sign:hover{
  display: block;
}
nav{
  color:white
}