{%extends 'macros.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{%block head%}
{{super()}}
{%endblock%}

{%block navbar%}
{{super()}}
{%endblock%}

{%block content%}
<div class="container">
  <div class="row">
<div class='test col-md-10'><img src="../static/images/impress.jpg" alt="impress" width="100%">
  <div class="row">
  <img class="col-md-4" src="../static/images/innovation_illo_465934_iv9u5y.jpg" alt="impress" height="100%">
  <img class="col-md-4" src="../static/images/pitch.jpg" alt="impress" height="100%">
  <img class="col-md-4" src="../static/images/thumbnail.png" alt="impress" height="100%">
</div>
</div>

<div class="col-md-2"><a href="{{url_for('main.new_pitch', sname=current_user.name)}}"><button class="btn btn-secondary"><h4></h4><h4></h4><h3 class='adder'>Add Your Pitch</h3><h1 class='sign'>&plus;</h1></button> </a></div>
</div>

</div>
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}